# Default
*               text=auto
# Explicit
*.html          text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.vue           text eol=lf
.browserslistrc text eol=lf
# Docker
.dockerignore   text eol=lf
Dockerfile      text eol=lf
# Git
.gitattributes  text eol=lf
.gitignore      text eol=lf
# Binaries
*.ico           binary
